html {
    background: rgb(8,28,34)
}

button{
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: rgb(15, 186, 253);
    color: white;
}


button:hover {
    animation-delay: 3s;
    transform: translate(0%, -2%) scale(1.1);
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgb(73, 204, 255);
    transition: all 1.2s;
  }

  button:hover:before {
    animation-delay: 3s;
    transform: translate(0%, -2%) scale(1.1);
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 1.2s;
  }

@media screen and (max-width:630px){
    h1{        
        font-size: 16px;        
    }
}